body {
        background: black;
}


#caption {
      
        border: black solid;
        text-align: center;
}


#header {
        text-align: center;
        background-color: purple;
        color: white;
}
